<h1>Add a squad</h1>

<p>Add a squad here:</p>

<form action="/squads" method="post">
  <label for="name">Squad name</label>
  <input id="name" name="name" type="text">
  <label for="name">Squad Max Size</label>
  <input id="maxSize" name="maxSize" type="integer">
  <button type="submit" class="btn btn-success">Add Squad</button>
</form>
