#if ($squad)
<h1>$squad.getName() heros:</h1>
<ul>
  #foreach($hero in $squad.getHeros())
  <li><a href="/heros/$hero.getId()">$hero.getName()</a></li>
  #end
</ul>
<a href="/squads/$squad.getId()/heros/new">Add a new hero</a>
#else
<em><p>Oops! We can't seem to find that Squad</p></em>
#end

<a href="/squads">All squads</a>
